@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4"><a href="ExportToExcel/Export">Download a sample 1 excel file.</a></h3>
    <h3 class="display-4"><a href="ExportToExcel/ExportWithOutTemplate">Download a sample 2 excel file.</a></h3>
</div>
